@import "./variables.css";
body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-base);
  color: var(--text-color);
}
a {
  font-family: var(--ff-links);
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: inherit;
  outline: none;
}
a:hover,
a:focus {
  color: var(--color-primary);
}
p {
  max-width: 60ch;
}
/* HEADINGS */

.heading {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  color: var(--heading-color);
}
.heading-1 {
  font-size: var(--fs-900);
  line-height: var(--fs-900);
  letter-spacing: -1.79px;
}

.heading-2 {
  font-size: var(--fs-800);
  line-height: var(--fs-800);
  letter-spacing: -1.43px;
}
.heading-3 {
  font-size: var(--fs-700);
  line-height: var(--fs-700);
  letter-spacing: -1.07px;
}
.heading-4 {
  font-size: var(--fs-600);
  letter-spacing: -1.07px;
  line-height: 1.75rem;
}
@media (min-width: 48em) {
  .heading-1 {
    letter-spacing: -2.5px;
  }
  .heading-2 {
    letter-spacing: -2.14px;
  }
  .heading-3 {
    letter-spacing: -1.79px;
  }
}
