@import "./variables.css";

.button {
  display: block;
  width: 11.25rem;
  height: 3.3125rem;
  display: grid;
  place-items: center;
  line-height: 1rem;
  letter-spacing: 0;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-neutral-100);
}
.button:hover,
.button:focus {
  color: var(--color-primary);
  background-color: transparent;
}

.footer {
  padding-block: 4rem 5.25rem;
  padding-inline: var(--page-padding-inline);
  display: flex;
  flex-direction: column;
  row-gap: 5.25rem;
  align-items: center;
  text-align: center;
  background-color: var(--color-neutral-900);
}
.footer-group {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
}
.footer-logo {
  fill: var(--color-neutral-100);
}
.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.social-links {
  display: flex;
  column-gap: 1.5rem;
}
.social-link {
  color: var(--color-primary);
}
.social-link:hover,
.social-link:focus {
  color: var(--color-neutral-100);
}
@media (min-width: 48em) {
  .footer,
  .footer-group,
  .footer-nav {
    flex-direction: row;
    row-gap: 0;
  }
  .footer {
    padding-block: 2rem;
    justify-content: space-between;
  }
  .footer-group {
    column-gap: 3.5rem;
  }
  .footer-nav {
    column-gap: 2rem;
  }
}
