@import "./variables.css";

.button {
  display: block;
  width: 11.25rem;
  height: 3.3125rem;
  display: grid;
  place-items: center;
  line-height: 1rem;
  letter-spacing: 0;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-neutral-100);
}
.button:hover,
.button:focus {
  color: var(--color-primary);
  background-color: transparent;
}
